{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head><script>
    function copyText() {
  
        /* Copy text into clipboard */
        navigator.clipboard.writeText
            ("{{used.contact}}");
    }
    </script>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
      <link rel="icon" type="image/png" href="{% static 'ecom/Header.png' %}" >
      <title>ShopIt</title>
  
      <style>
        .space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
    margin-left: 174px;
    margin-right: 39px;
    margin-top: -40px;
    }

    .text-white {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    margin-right: 0px;
    }

    #100{
      margin-top: 20px;
      text-decoration: rgb(49, 138, 216);
    }


      </style>

      <header class="text-gray-600 body-font">
          
          <div>
            <nav
              class="relative px-4 py-4 flex justify-between items-center border-y border-gray-700">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="{% url 'home' %}">

                <img src="{% static 'ecom/Logo.png' %}" alt="My image" width="100" height="75" class="d-inline-block align-top">
                <span class="text-xl font-bold text-gray-100">ShopIt</span>
              </a>
              <div class="lg:hidden">
                <button
                  class="navbar-burger flex items-center text-white p-3">
                  <svg
                    class="block h-4 w-4 fill-current"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>ShopIt</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                  </svg>
                </button>
              </div>
              <ul
                class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
                {% if request.get_full_path != "/catalog/"%}
                <li>
                  <a
                    class="text-sm text-gray-300 hover:text-gray-600 dark:text-gray-300"
                    href="{% url 'catalog' %}">
                    Shop New
                  </a>
                </li>
                <li class="text-gray-300">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    stroke="currentColor"
                    class="w-4 h-4 current-fill"
                    viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
                  </svg>
                </li>
                {% endif %}
                {% if request.get_full_path != "/used/" %}
                <li>
                  <a
                    class="text-sm text-gray-300 hover:text-gray-600 dark:text-gray-300"
                    href="{% url 'used' %}">
                    Used
                  </a>
                </li>
                <li class="text-gray-300">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    stroke="currentColor"
                    class="w-4 h-4 current-fill"
                    viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
                  </svg>
                </li>
                {% endif %}
                {% if request.get_full_path != "/business/" %}
                <li>
                  <a
                    class="text-sm text-gray-300 hover:text-gray-600 dark:text-gray-300"
                    href="{% url 'business' %}">
                    Business
                  </a>
                </li>
                <li class="text-gray-300">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    stroke="currentColor"
                    class="w-4 h-4 current-fill"
                    viewBox="0 0 24 24">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
                  </svg>
                </li>
                {%endif%}
                <li>
                  <a
                    class="text-sm text-gray-300 hover:text-gray-600 dark:text-gray-300"
                    href="#contact">
                    Contact
                  </a>
                </li>
                
              </ul>
              <div class="space-x-2 hidden text-indigo-600 font-bold lg:block" >
                <ul class="hidden absolute top-1/2 right-4 transform -translate-y-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-4">
                  {% if user.is_authenticated %}
                  <li>
                    Hi {{user.username}}! &nbsp;
                  </li>
                  <li>
                    <a href="{% url 'cart' %}" target="_self">
                      <img src="{% static 'ecom/cart.png' %}" width="70" height="55">
                      <span style="position: relative; top: -25px; left: 40px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 3px 8px; border-radius: 50%;">{{ cart_count }}</span>
                    </a>
                  </li>
                  
                  
                  <li>
                    <a href="{% url 'orders' %}" target="_self">
                      <button class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-indigo-500">
                        Orders
                      </button>
                    </a>
                  </li>
                  <li>
                    <form action="{% url 'logoutuser' %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-indigo-500">
                        Logout
                      </button>
                    </form>
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'loginuser' %}" target="_self">
                      <button class="rounded-md border border-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-indigo-600 hover:bg-indigo-500" style="margin-right: -10px;">
                        Login
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'signupuser' %}" target="_self">
                      <button class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-indigo-500">
                        SignUp
                      </button>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </nav>
          </div>
      </header>
  </head>
  <body>
    {% block content %}
    {% endblock %} 
    <div class="container py-12 mx-auto">
      <div class="relative h-80 flex items-center">
        <div class="bg-black rounded-xl opacity-30 w-full h-full absolute"></div>
        <img
          src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHRlYW18ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
          alt="Team"
          class="h-full w-full object-cover rounded-md absolute inset-0" />
        <div class="px-6 lg:px-8 z-10 mt-8">
          <div>
            <div class="mx-auto max-w-4xl">
              <div class="p-2 bg-indigo-600 rounded-md inline-block">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    class="h-6 w-6 text-white">
                    <path
                      d="M10 9a3 3 0 100-6 3 3 0 000 6zM6 8a2 2 0 11-4 0 2 2 0 014 0zM1.49 15.326a.78.78 0 01-.358-.442 3 3 0 014.308-3.516 6.484 6.484 0 00-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 01-2.07-.655zM16.44 15.98a4.97 4.97 0 002.07-.654.78.78 0 00.357-.442 3 3 0 00-4.308-3.517 6.484 6.484 0 011.907 3.96 2.32 2.32 0 01-.026.654zM18 8a2 2 0 11-4 0 2 2 0 014 0zM5.304 16.19a.844.844 0 01-.277-.71 5 5 0 019.947 0 .843.843 0 01-.277.71A6.975 6.975 0 0110 18a6.974 6.974 0 01-4.696-1.81z"></path>
                  </svg>
                </span>
              </div>
              <h2
                class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
                Loved by over 5 new customers every minute
              </h2>
              <p class="mt-3 text-xl text-white sm:mt-4">
               One platform for all your shopping needs
              </p>
            </div>
          </div>
          <dl class="flex space-x-2">
            <div class="flex flex-col p-6 pl-0 text-center">
              <dt class="order-2 mt-2 text-lg font-medium leading-6 text-gray-200">
                Platform Fee
              </dt>
              <dd class="order-1 text-3xl font-bold tracking-tight text-white">
                ₹ 0
              </dd>
            </div>
            <div class="flex flex-col p-6 text-center">
              <dt class="order-2 mt-2 text-lg font-medium leading-6 text-gray-200">
                Products
              </dt>
              <dd id ="100" class="order-1 text-3xl font-bold tracking-tight text-white " style="margin-top:38px;">
                100+
              </dd>
            </div>
            <div class="flex flex-col p-6 text-center">
              <dt class="order-2 mt-2 text-lg font-medium leading-6 text-gray-200">
                Users
              </dt>
              <dd class="order-1 text-3xl font-bold tracking-tight text-white" style="margin-top:38px;">
                5k
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <footer class="container mx-auto px-10 md:px-0 py-2">
      <div class="flex items-center space-x-6">
        <img src="{% static 'ecom/Logo.png' %}" alt="My image" width="100" height="75" class="d-inline-block align-top">
        <div>
          <h1 class="text-xl font-bold text-gray-100">ShopIt</h1>
        </div>
      </div>
      
      <div id="contact" class="mt-8">
        <ul
          class="flex flex-col space-y-4 md:space-y-0 md:flex-col md:space-x-6 lg:space-x-12 items-start  font-semibold text-base text-gray-100">
          <li>&nbsp;&nbsp;&nbsp;Contact us-</li>
          <li class="text-gray-400" >ShopIt Inc.</li>
          <li class="text-gray-400">+919999999999</li>
          <li class="text-gray-400">collaborate@shopit.com</li>
          <li class="text-gray-400">Jaipur, Rajasthan</li>
        </ul>
      </div>
      <p class="text-sm text-gray-500 dark:text-gray-400 mt-6">
        © 2022-2023, ShopIt.com, Inc. or its affiliates
      </p>
    </footer>
      
  </body>
  </html>
  
