<!DOCTYPE html>
<html lang="en">
<head>
</head>
{% extends 'ecom/base.html' %}
{% load static %}
{% block content %}
<body style="background-color: rgb(0, 0, 0);">
    <h5 class="text-white" style="font-size: 30px; margin-left: 50px;">{{Items.count}} products found</h5>  

    {% if admin %}
        <a href="{% url 'itempost' %}" target="_self"><button
        class="rounded-md border border-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-indigo-600 hover:bg-indigo-500" style="margin-left: 1350px; margin-top:-500px;">
        Post Ad
        </button></a>
      {%endif%}
      <section class="text-gray-600 dark:text-gray-900 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
              {% for item in Items %}
              <div class="lg:w-1/4 sm:w-1/2 p-4 w-full">
                <!--<a class="block relative h-48 rounded overflow-hidden" href="{% url 'itemdetail' item.id %}">-->
                  <img
                    class="object-contain object-center w-full h-full block"
                    src="{{ item.image.url }}" />
                </a>
                <div class="mt-4">
                  <h3
                    class="title-font text-lg font-medium text-white">
                    {{ item.title }}
                  </h3>
                  <p class="mt-1 text-gray-300">₹{{ item.price }}</p>
                  <h2
                    class="text-gray-300 text-xs tracking-widest title-font mb-1">
                    {{ item.description_short|striptags|truncatechars:40 }}
                  </h2>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </body>
      </html>
{% endblock %}
